DISCORD_TOKEN=
APPLICATION_ID=

STATUS_CHANNEL_ID=
INCIDENT_CHANNEL_ID=

VRC_VIDEO_SERVER_URL=

HOST_STATUS_ENABLED=false
HOST_STATUS_CHANNEL_ID=
HOST_STATUS_UPDATE_INTERVAL_MS=60000

GITHUB_TOKEN=
GITHUB_STATUS_ENABLED=false
GITHUB_STATUS_UPDATE_INTERVAL_MS=300000
GITHUB_STATUS_CHANNEL_ID=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
